<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<system.webServer>
		<rewrite>
			<rules>
				<rule name="portal_category">
			<match url="^(.*/)*category-([0-9]+).html\?*(.*)$" />
			<action type="Rewrite" url="{R:1}/portal.php\?mod=list&amp;catid={R:2}&amp;{R:3}" />
		</rule>
		<rule name="portal_category2">
			<match url="^(.*/)*category-([0-9]+)-([0-9]+).html\?*(.*)$" />
			<action type="Rewrite" url="{R:1}/portal.php\?mod=list&amp;catid={R:2}&amp;page={R:3}&amp;{R:4}" />
		</rule>
		<rule name="portal_category_folder">
			<match url="^(.*/)*([\w/]+)/([0-9]+).html\?*(.*)$" />
			<action type="Rewrite" url="{R:1}/{R:2}/index.php\?page={R:3}&amp;{R:4}" />
				</rule>
				<rule name="forum_forumdisplay">
					<match url="^(.*/)*f-(\w+).html\?*(.*)$" />
					<action type="Rewrite" url="{R:1}/forum.php\?mod=forumdisplay&amp;fid={R:2}&amp;{R:3}" />
				</rule>
				<rule name="forum_viewthread2">
					<match url="^(.*/)*t-([0-9]+)-([0-9]+).html\?*(.*)$" />
					<action type="Rewrite" url="{R:1}/forum.php\?mod=viewthread&amp;tid={R:2}&amp;page={R:3}&amp;{R:4}" />
				</rule>
				<rule name="forum_viewthread">
					<match url="^(.*/)*t-([0-9]+).html\?*(.*)$" />
					<action type="Rewrite" url="{R:1}/forum.php\?mod=viewthread&amp;tid={R:2}&amp;{R:3}" />
				</rule>
				<rule name="forum_forumdisplay_gid">
					<match url="^(.*/)*g-([0-9]+).html\?*(.*)$" />
					<action type="Rewrite" url="{R:1}/forum.php\?gid={R:2}&amp;{R:3}" />
				</rule>
				<rule name="forum_forumdisplay_type">
					<match url="^(.*/)*f-(\w+)-t([0-9]+).html\?*(.*)$" />
					<action type="Rewrite" url="{R:1}/forum.php\?mod=forumdisplay&amp;fid={R:2}&amp;filter=typeid&amp;typeid={R:3}&amp;{R:4}" />
				</rule>
				<rule name="forum_forumdisplay_type2">
					<match url="^(.*/)*f-(\w+)-t([0-9]+)-([0-9]+).html\?*(.*)$" />
					<action type="Rewrite" url="{R:1}/forum.php\?mod=forumdisplay&amp;fid={R:2}&amp;filter=typeid&amp;typeid={R:3}&amp;page={R:4}&amp;{R:5}" />
				</rule>
				<rule name="forum_forumdisplay_sort">
					<match url="^(.*/)*f-(\w+)-s([0-9]+).html\?*(.*)$" />
					<action type="Rewrite" url="{R:1}/forum.php\?mod=forumdisplay&amp;fid={R:2}&amp;filter=sortid&amp;sortid={R:3}&amp;{R:4}" />
				</rule>
				<rule name="forum_forumdisplay_sort2">
					<match url="^(.*/)*f-(\w+)-s([0-9]+)-([0-9]+).html\?*(.*)$" />
					<action type="Rewrite" url="{R:1}/forum.php\?mod=forumdisplay&amp;fid={R:2}&amp;filter=sortid&amp;sortid={R:3}&amp;page={R:4}&amp;{R:5}" />
				</rule>
				<rule name="forum_forumdisplay_type_sort">
					<match url="^(.*/)*f-(\w+)-t([0-9]+)-s([0-9]+).html\?*(.*)$" />
					<action type="Rewrite" url="{R:1}/forum.php\?mod=forumdisplay&amp;fid={R:2}&amp;filter=sortid&amp;sortid={R:4}&amp;typeid={R:3}&amp;{R:5}" />
				</rule>
				<rule name="forum_forumdisplay_type_sort2">
					<match url="^(.*/)*f-(\w+)-t([0-9]+)-s([0-9]+)-([0-9]+).html\?*(.*)$" />
					<action type="Rewrite" url="{R:1}/forum.php\?mod=forumdisplay&amp;fid={R:2}&amp;filter=sortid&amp;sortid={R:4}&amp;typeid={R:3}&amp;page=$4&amp;{R:6}" />
				</rule>
				<rule name="group_group">
					<match url="^(.*/)*group-([0-9]+)-([0-9]+).html\?*(.*)$" />
					<action type="Rewrite" url="{R:1}/forum.php\?mod=group&amp;fid={R:2}&amp;page={R:3}&amp;{R:4}" />
				</rule>
				<rule name="home_space">
					<match url="^(.*/)*space-(username|uid)-(.+).html\?*(.*)$" />
					<action type="Rewrite" url="{R:1}/home.php\?mod=space&amp;{R:2}={R:3}&amp;{R:4}" />
				</rule>
				<rule name="home_blog">
					<match url="^(.*/)*blog-([0-9]+)-([0-9]+).html\?*(.*)$" />
					<action type="Rewrite" url="{R:1}/home.php\?mod=space&amp;uid={R:2}&amp;do=blog&amp;id={R:3}&amp;{R:4}" />
				</rule>
				<rule name="forum_archiver">
					<match url="^(.*/)*(fid|tid)-([0-9]+).html\?*(.*)$" />
					<action type="Rewrite" url="{R:1}/index.php\?action={R:2}&amp;value={R:3}&amp;{R:4}" />
				</rule>
				<rule name="forum_tag_list">
					<match url="^(.*/)*tag-(thread|blog)-([0-9]+)-([0-9]+).html\?*(.*)$" />
					<action type="Rewrite" url="{R:1}/misc.php\?mod=tag&amp;id={R:3}&amp;type={R:2}&amp;page={R:4}&amp;{R:5}" />
				</rule>
				<rule name="forum_tag_view">
					<match url="^(.*/)*tag-([0-9]+).html\?*(.*)$" />
					<action type="Rewrite" url="{R:1}/misc.php\?mod=tag&amp;id={R:2}&amp;{R:3}" />
				</rule>
				<rule name="forum_tag_index">
					<match url="^(.*/)*tag.html\?*(.*)$" />
					<action type="Rewrite" url="{R:1}/misc.php\?mod=tag&amp;{R:2}" />
				</rule>
			</rules>
		</rewrite>
	</system.webServer>
</configuration>
